{% extends 'base.html' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block page_title %}
Admin Dashboard
{% endblock %}

{% block content %}

<div class="row g-4">

    <div class="col-md-3">

        <div class="dashboard-card text-center">

            <h5>Total Users</h5>

            <h1>{{ total_users }}</h1>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card text-center">

            <h5>Total Products</h5>

            <h1>{{ total_products }}</h1>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card text-center">

            <h5>Total Orders</h5>

            <h1>{{ total_orders }}</h1>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card text-center">

            <h5>Total Admins</h5>

            <h1>{{ total_admins }}</h1>

        </div>

    </div>

</div>

{% endblock %}